
.cart-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .cart-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .cart-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .cart-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
  }

  body.no-scroll {
    overflow: hidden;
  }
  
  .cart-aside {
    height: 100vh;
    overflow: auto;
  }
